.div-geral{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.div-unica{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    height: 250px;
    width: 250px;
    margin: 1%;
    border-radius: 5px;
    border: solid 2px;
}



.div1{
    flex-grow: 0.8;
}

.div3{
    flex-grow: 0.8;
}
